.container {
  display: grid;
}

header, main, footer {
  display: block;
}


.landing {
  background: url(img/bg.jpg) no-repeat;
  height: 100vh;

}


#logo {
  position: -webkit-sticky;
  position: sticky;
  height: 40%;
  margin-left: 1em;
  top: 0;
}
#logo:hover{
  filter: hue-rotate(180deg);
  transition: 200ms ease-out;
}

main {
  margin: 5rem 20rem;
  min-height: 100vh;
  
}

footer{
  height: 35vh;
  background-color: #1b0508;
}
